/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&family=Poppins&family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto'!important;
}
.fs-12{
  font-size: 12px!important;
}
.fs-14{
  font-size: 14px!important;
}
.fs-16{
  font-size: 16px!important;
}
.fs-18{
  font-size: 18px!important;
}
.fs-20{
  font-size: 20px!important;
}
.fs-22{
  font-size: 22px!important;
}
.fs-24{
  font-size: 24px!important;
}
.p-0{
  padding: 0 !important;
}
.pt-10{
  padding-top: 10px;
}
.m-0{
  margin: 0 !important;
}
.mr-1{
  margin-right: 10px !important;
}
.mb-1{
  margin-bottom: 10px !important;
}
.mt-1{
  margin-top: 10px !important;
}
.mt-2{
  margin-top: 20px !important;
}
.fw-regular{
  font-weight: 400 !important;
}
.text-danger{
  color: red !important;
}
.outlined-primary-btn{
  text-align: center;
  font: normal normal medium 16px/21px "Roboto";
  /* letter-spacing: -0.36px; */
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid #707070;
  cursor: pointer;
  min-width: 112px;
  height: 53px;
  background: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
}
.outlined-primary-btn:hover{
  border-color: #2874F0 !important;
  color: #2874F0 !important;
}
.box-shadow-0{
  box-shadow: none !important;
}
.justify-content-end{
  justify-content: end;
}
.text-transform-capitalize{
  text-transform: capitalize !important;
}


/* mainHeader */
.mainHeader{
  background-color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.mainHeader .categories-btn{
  background-color: #F8F8F8 !important;
  border: 1px solid #EFEFEF !important;
}
/* //Appbar */
.appbar{
  box-shadow: none !important;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 31px;
}
.appbar .searchBar input{
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}
.appbar .searchBar input::placeholder{
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #686868 !important;
}
.appbar .searchbar-upload{
  position: absolute;
  z-index: 110;
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #DFDFDF;
}
.appbar .searchbar-upload .upload{
  margin: auto;
  max-width: 100%;
  border: 2px dotted #C7C7C7;
  padding: 30px;
  margin-top: 10px;
  background: #FAFAFA !important;
}
.appbar .searchbar-upload .upload .upload__label{
  box-shadow: none;
  background: #FAFAFA !important;
}
.appbar .searchbar-upload .upload .upload__label img{
  width: 50px;
}
.appbar .iconButton{
  padding: 12px 18px;
}
.appbar .iconButton:focus{
  outline: none !important;
}
.appbar svg {
  fill: #2f4b66;
  /* height: 1.75rem; */
}
.appbar .searchBtn{
  border-radius: 5px;
}
.appbar .searchBtn:focus{
  outline: none;
}
.appbar .upload__subtitle{
  font-family: 'Roboto' !important;
}
.main-nav{
  margin-left: 50px;
}
.main-nav__item{
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: left;
  font-family: 'Roboto' !important;
  /* letter-spacing: 0px !important; */
  color: #302F2F !important;
  opacity: 0.92 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 14px 24px 20px 24px;
  /* min-width: 120px; */
  text-align: center;
}
.main-nav__item_active{
  text-decoration: none!important;
  text-transform: capitalize !important;
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  /* letter-spacing: 0px !important; */
  color: #2F4B66 !important;
  opacity: 0.92 !important;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 24px 20px 24px;
  border-bottom: 5px solid #2874F0 !important;
  background: rgba(40, 116, 240 , 0.1) !important;
  /* min-width: 120px; */
  text-align: center;
}
/* Button test */
button[aria-label='Previous'] {
  margin-left: 70px;
}
button[aria-label='Next'] {
  margin-right: 70px;
}
.courousel-style{
  padding: 70px;
  /* background-image: url('./assets/images/original/Contoso_Assets/Slider_section/hero_banner.jpg') !important; */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: right !important;
  min-height: 594px;
}
.courousel-style {
  background: #000000;
  cursor: pointer;
  max-height: 594px;
}
.courousel-style .BannerGrid{
  padding: 100px 100px 0px 70px !important;
}
.courousel-style .BannerHeading {
  font-family: 'Inter' !important;
  font-size: 34px !important;
  font-weight: 600 !important;
  text-align: left;
  color: #ffffff;
  opacity: 1;
  padding: 0px 0px 0px 0px;
  text-transform: capitalize;
}
.courousel-style .BannerContent {
  font-family: 'Heebo' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-align: left;
  color: #ffffff;
  opacity: 1;
  padding: 16px 0px 0px 0px;
}
.courousel-style .BannerButtondiv {
  padding: 50px 0px 0px 0px;
}
.courousel-style .BannerButton1 {
  max-width: 142px;
  opacity: 1;
  width: 224px;
  height: 49px;
  background: #2874F0 !important;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: "Heebo" !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #ffffff;
  box-shadow: none;
  margin-right: 24px;
}
.courousel-style .BannerButton2 {
  max-width: 142px;
  opacity: 1;
  width: 224px;
  height: 49px;
  background: #666666 !important;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: "Heebo" !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #ffffff;
  box-shadow: none;
  margin-right: 24px;
}


/* product slider */
.slider-style{
  padding: 40px 70px;
}
.slider-style .topSection{
  display: flex;
  padding-bottom: 30px;
  align-items: center;
}
.slider-style .LapHeadSection{
  margin-right: auto;
}
.slider-style .LapButtonSection{
  display: flex;
}
.slider-style .LapSectionContent .MuiCard-root{
  margin: auto !important;
}
.slider-style .LapHead {
  font: normal normal normal 14px/21px "Poppins";
  /* letter-spacing: -0.31px; */
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
}
.slider-style .LapHeadmain {
  line-height: unset !important;
  font: normal normal 600 25px/56px "Poppins";
  /* letter-spacing: -1.44px; */
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}
.slider-style .productCard{
  box-shadow: none !important;
}
.slider-style .productCard:hover{
  border: 1px solid #0000001A;
  box-shadow: 1px 5px 5px #aaaaaa !important;
  /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important; */
}
.productName{
  font-family: 'Inter' !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #171520 !important;
}

.productType{
  font-family: 'Inter' !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #626262 !important;
}
.productOrgPrice{
  font-family: 'Inter' !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #171520 !important;
}
.productOldPrice{
  font-family: 'Inter' !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #626262 !important;
  text-decoration: line-through;

}
.productOffer{
  font-family: 'Inter' !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #E21D1D !important;
}
/* ********************************* */
.BannerSection {
  background-image: url("./assets/images/original/Contoso_Assets/Static_Banner/banner_controller.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  min-height: 540px;
}

.BannerSection .BannerHeading {
  font-family: 'Poppins' !important;
  font-weight: 600 !important;
  font-size: 34px !important;
  font: var(--unnamed-font-style-normal) normal 600 34px/36px "Poppins";
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal 600 34px/36px "Poppins";
  /* letter-spacing: -1.59px; */
  color: #ffffff;
  opacity: 1;
  padding: 144px 0px 0px 150px;
}
.BannerSection .BannerContent {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/24px "Poppins";
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 16px/24px "Poppins";
  /* letter-spacing: -0.75px; */
  color: #ffffff;
  opacity: 1;
  padding: 16px 0px 0px 150px;
}
.BannerSection .BannerButtondiv {
  padding: 50px 0px 0px 150px;
}
.BannerSection .BannerButton {
  border: 1px solid #ffffff;
  opacity: 1;
  width: 224px;
  height: 56px;
  background: none;
  border-radius: 5px;
  cursor: pointer;

  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal medium 16px/21px "Roboto";
  /* letter-spacing: -0.36px; */
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
}



/* laptopsection starts -------------------------------------------------------------------------------------------------------------*/

.LaptopSection {
  background-color: #fff;
}
.LaptopSection .LapHeadSection {
  margin-top: 70px;
}

.LaptopSection .LapHead {
  text-align: center;
  font: normal normal normal 14px/21px "Poppins";
  /* letter-spacing: -0.31px; */
  color: #302f2f;
  text-transform: uppercase;
  opacity: 1;
}
.LaptopSection .LapHeadmain {
  text-align: center;
  font: normal normal 600 30px/56px "Poppins";
  /* letter-spacing: -1.44px; */
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}
.LaptopSection .ProductSection {
  margin: 30px 38px 70px 70px;
}
.LaptopSection .LaptopButtondiv {
  text-align: center;
  margin: 50px 0px 50px 0px;
}
.LaptopSection .LaptopButton {
  text-align: center;
  font: normal normal medium 16px/21px "Roboto";
  /* letter-spacing: -0.36px; */
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid #707070;
  cursor: pointer;
  width: 224px;
  height: 56px;
  background: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
}
.LaptopSection .lapsecimage {
  border-radius: 5px;
  width: 100%;
}
.LaptopSection .laptopimage {
  width: 75%;
  margin: auto;
  display: block;
  margin-bottom: 23px !important;
  margin-top: 2px !important;
}
.LaptopSection .cardlap {
  min-height: 310px;
  background: #f5f5f580 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  box-shadow: none;
}
.LaptopSection .Productname {
  font: var(--unnamed-font-style-normal) normal 600 18px /
    var(--unnamed-line-spacing-32) "Poppins";
  text-align: center;
  font: normal normal 600 18px/32px "Poppins";
  /* letter-spacing: -0.33px; */
  color: #111111;
  opacity: 1;
  margin-right: auto;
}
.LaptopSection .price {
  text-align: center;
  /* letter-spacing: -0.36px; */
  color: #2874f0;
  opacity: 1;
  background-color: white !important;
  border-radius: 10px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 17px;
  width: 63px;
  height: 34px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins";
}
.LaptopSection .productdetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.LaptopSection .proddetails {
  padding: 16px 30px;
  box-shadow: none;
}



/* sha********************* */
.footer-container {
  padding: 60px 70px;
  font-size: smaller;
}
/* .footer-container .MuiGrid-container {
  justify-content: space-around;
} */
.footer-container .footer-grid-container ul {
  list-style: none;
}
.footer-container .footer-grid-container li {
  padding-bottom: 20px;
}
.footer-container .footer-grid-container p {
  font-family: 'Roboto' !important;
  font-size: 16px !important;
  color: #302F2F !important;
}
.footer-container .section-2 {
  padding-left: 20px;
}
.footer-container .section-3 {
  padding-left: 60px;
}
.footer-container .section-4 {
  padding-left: 100px;
  float: right;
}

.footer-container .contact-div {
  display: inline;
}
.footer-container .logo-div {
  float: left;
  padding-right: 5px;
}
.footer-container .list-element {
  font-family: 'Roboto' !important;
  font-size: 14px !important;
  color: #302F2F !important;
}
.footer-container .main-element {
  font-family: 'Poppins' !important;
  font-size: 14px !important;
  color: #302F2F !important;
  font-weight: 600;
}

/* ************** */
.final-section-container {
  background-color: #80808030;
  height: 800px;
  background-image: url('./assets/images/original/Contoso_Assets/5_Static_Banner/static_banner_2.jpg') ;
  background-repeat: no-repeat;
}
.final-section-container  .grid-container {
  padding-top: 30px;
}

.final-section-container  .image-section img {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.final-section-container  .content-section {
  padding-top: 170px;
  padding-right: 70px;
}
.final-section-container  .content-section h1{
  font-family: 'Poppins' !important;
  font-size: 34px !important;
  color: #000000 !important;
  font-weight: 600;
  margin: 16px 0;
}
.final-section-container  .content-section p{
  font-family: 'Poppins' !important;
  font-size: 16px !important;
  color: #000000 !important;
  font-weight: 400;
}
.final-section-container  .start-btn {
  text-align: center;
  color: #302f2f;
  text-transform: capitalize;
  opacity: 1;
  border: 1px solid #707070;
  cursor: pointer;
  width: 224px;
  height: 56px;
  background: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto" !important;
  margin-top: 34px;
}